# Task_Session_3

- Problem 1 - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.
- 5 4 3 2 1 
- 4 3 2 1 
- 3 2 1 
- 2 1 
- 1

In [12]:
rows = int(input("enter the number : "))

for i in range(0,rows):
    for j in range(rows-i, 0, -1):
        print(j, end=" ")
    print()

enter the number : 6
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [17]:
for i in range(7):
    for j in range(i,0,-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

Problem 2: Print the following pattern.
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [29]:
for i in range(7):
    for j in range(i,0,-1):
        print("*", end=" ")
    print()
    
    
for i in range(0,7):
    for j in range(7-i,0, -1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
row = int(input("enter the number : "))

for i in range(1, row+1):
    for j in range(0,i):
        
        print(i, end=" ")
    print()
    
for i in range(0,row+1):
    for j in range(row-i,1,-1):
        
        print(j, end=" ")
    print()

enter the number : 6
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
6 5 4 3 2
5 4 3 2
4 3 2
3 2
2

Problem 3:Write a program to pring the following pattern
    *
  * * *
* * * * *

In [36]:
rows = 6
for i in range(1,rows+1):
    print(' '*rows,end='')
    print('* '*i)
    rows = rows - 1

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *

Problem 4:Write a program to print the following pattern
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [38]:
l = int(input("Enter the number : "))
for i in range(1,l+1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print()

Enter the number : 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

Problem 5: Write a Python Program to Find the Sum of the Series till the nth term:
1 + x^2/2 + x^3/3 + â€¦ x^n/n
n will be provided by the user

In [48]:
x = int(input("Enter the value of x : "))

n = int(input("enter the value of n : "))
print()
sum = 1
s = ''
print('1 + ', end='')
for i in range(2,n+1):
    sum = sum + x**i/i
    
    s = s + 'x^{}/{} '.format(i,i)

print(s)
print()
print(sum)

Enter the value of x : 2
enter the value of n : 4

1 + x^2/2 x^3/3 x^4/4

9.666666666666666

*Problem 6: The natural logarithm can be approximated by the following series.
    
If x is input through the keyboard, write a program to calculate the sum of the first seven terms of this series

In [49]:
x = 10
n = 5

sum = 0
s = ''
for i in range(1,n+1):
    sum = sum + (1/i)*((x-1)/x)**i
    s = s + '(1/{})*((x-1)/x)^{} +'.format(i,i)
print(s[:-1])
print(sum)

(1/1)*((x-1)/x)^1 +(1/2)*((x-1)/x)^2 +(1/3)*((x-1)/x)^3 +(1/4)*((x-1)/x)^4 +(1/5)*((x-1)/x)^5
1.8301230000000004

Problem 7 - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.
Example 1:
Input:
5
Output:
2+22+222+2222+22222
Sum of above series is: 24690

In [58]:
n = int(input("Enter the number of terms : "))

start = 2
sum = 0

for i in range(0,n):
    if i < n-1:
        print(start,end='+')
    else:
        print(start)
        
    sum =sum + start
    start = start*10 + 2
print(sum)

Enter the number of terms : 5
2+22+222+2222+22222
24690

Problem 8: Write a program to print all the unique combinations of 1,2,3 and 4
Output:
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on

In [1]:
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            for m in range(1,5):
                if (i!=j and j!=k and k!=m and i!=k and i!=m and j!=m):
                    print(i,j,k,m)

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1

Problem 9: Write a program that will take a decimal number as input and prints out the binary equivalent of the number

In [6]:
decimal_number= int(input("enter the decimal number : "))

binary = []

while decimal_number > 0:
    
    binary.append(decimal_number%2)
    decimal_number = decimal_number//2
    
for i in binary[::-1]:
    print(i, end='')

enter the decimal number : 10
1010

Problem 10: Write a program that will take 2 numbers as input and prints the LCM and HCF of those 2 numbers

Problem 11: Create Short Form from initial character
Given a string create short form ofthe string from Initial character. Short form should be capitalised.
Example:
Input:
Data science mentorship program
Output:
DSMP

In [8]:
sent = input("enter the string : ")

res = ''

for i in sent.split():
    res = res + i[0].upper()
    
print(res)

enter the string : data science mentorship program
DSMP

Problem 12: Append second string in the middle of first string
Input:
campusx
data
Output:
camdatapusx

In [9]:
s1 = input('enter the 1st string : ')
s2 = input('enter the 2nd string : ')

print(s1[0:int(len(s1)/2)] + s2 + s1[int(len(s1)/2):])

enter the 1st stringhellohello
enter the 2nd stringhitesh
hellohiteshhello

Problem 13:Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.
Given:
str1 = PyNaTive
Expected Output:
yaivePNT

In [10]:
s3 = input('enter the string : ')

upper = ''
lower = ''

for i in s3:
    if i.islower():
        lower = lower + i
    else:
        upper = upper + i
        
print(lower + upper)

enter the string : mjdshfkaKJlksdfLKWDLBLDS
mjdshfkalksdfKJLKWDLBLDS

Problem 14:Take a alphanumeric string input and print the sum and average of the digits that appear in the string, ignoring all other characters.
Input:
hel123O4every093
Output:
Sum: 22
Avg: 2.75

Problem 15: Removal of all characters from a string except integers
Given:
str1 = 'I am 25 years and 10 months old'
Expected Output:
2510

Problem 16: Check whether the string is Symmetrical.
Statement: Given a string. the task is to check if the string is symmetrical or not. A string is said to be symmetrical if both the halves of the string are the same.
Example 1:
Input
khokho
Output
The entered string is symmetrical

Problem 17: Reverse words in a given String
Statement: We are given a string and we need to reverse words of a given string.
Example 1:
Input:
geeks quiz practice code
Output:
code practice quiz geeks
Example 2:
Input:
my name is laxmi
Output:
laxmi is name my

Problem 18: Find uncommon words from two Strings.
Statement: Given two sentences as strings A and B. The task is to return a list of all uncommon words. A word is uncommon if it appears exactly once in any one of the sentences, and does not appear in the other sentence. Note: A sentence is a string of space-separated words. Each word consists only of lowercase letters.
Example 1:
Input:
A = "apple banana mango" 
B = "banana fruits mango"
Output:
['apple', 'fruits']

Problem 19: Word location in String.
Statement: Find a location of a word in a given sentence.
Example 1:
Input:
Sentence: We can learn data science through campusx mentorship program.

word: campusx
Output:
Location of the word is 7.
Note- Don't use index/find functions

Problem 20: Write a program that can remove all the duplicate characters from a string. User will provide the input