# Task Session - 1

In [1]:
# Q1: - Print the given strings as per stated format.
# Given strings:
# "Data" "Science" "Mentorship" "Program" 
# "By" "CampusX"
# Output:
# Data-Science-Mentorship-Program-started-By-CampusX
# Concept- [Seperator and End]

In [6]:
print("Data","Science","Mentorship","Program", sep = '-', end = '-started-')
print("By","CampusX", sep = '-')

Data-Science-Mentorship-Program-started-By-CampusX

In [7]:
# Q2:- Write a program that will convert celsius value to fahrenheit.

In [10]:
celcius = float(input("Enter cencius value to change into fahrenheit : "))

faren = celcius * (9/5) + 32

print(faren)

Enter cencius value to change into fahrenheit : 37
98.60000000000001

In [11]:
# Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [12]:
num1 = int(input('Enter first number : '))
num2 = int(input('Enter second number : '))

temp = num1
num1 = num2
num2 = temp

print(num1)
print(num2)

Enter first number : 2
Enter second number : 3
3
2

In [13]:
# Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [23]:
p1_x = int(input('enter x coordinate of point_1 : '))
p1_y = int(input('enter y coordinate of point_1 : '))
print()
p2_x = int(input('enter x coordinate of point_1 : '))
p2_y = int(input('enter y coordinate of point_1 : '))

distance = ((p2_x - p1_x)**2 + (p2_y - p1_y)**2)**0.5

print('distance between two points : ',  round(distance,2))

enter x coordinate of point_1 : 34
enter y coordinate of point_1 : 45

enter x coordinate of point_1 : 78
enter y coordinate of point_1 : 67
distance between two points :  49.19

In [24]:
# Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [25]:
# prt/100

p = int(input('enter amount'))
r = int(input('enter rate'))
t = int(input('enter time'))

si = (p*r*t)/100

print(si)

enter amount2000
enter rate10
enter time2
400.0

In [26]:
# Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
# For example: Input: heads -> 4 legs -> 12
# Output: dogs -> 2 chicken -> 2

In [27]:
# Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [29]:
n = int(input('enter the number : '))

result = (n*(n+1)*(2*n+1))/6

print(result)

enter the number : 5
55.0

In [30]:
# Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [31]:
# arithmatic progression = a + (n-1)d
a = int(input('enter first term : '))
b = int(input('enter second term : '))

nth_term = int(input("Enter the value of nth term : "))
difference = b-a

value = a + (nth_term - 1) * difference

print(value)

enter first term : 5
enter second term : 10
Enter the value of nth term : 5
25

In [32]:
# Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [35]:
n1 = int(input('num1 : '))
d1 = int(input('den1 : '))
n2 = int(input('num2 : '))
d2 = int(input('den2 : '))

rn = n1*d2 + d1*n2
rd = d1*d2

print('{}/{}' .format(rn,rd))

num1 : 4
den1 : 5
num2 : 6
den2 : 4
46/20

In [36]:
# Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
# Input:
# Dimensions of the milk tank
# H = 20cm, L = 20cm, B = 20cm

# Dimensions of the glass
# h = 3cm, r = 1cm

In [39]:
import math


tank_height = float(input('Enter tank height value : '))
tank_breadth = float(input('Enter tank breadth value : '))
tank_length = float(input('Enter tank length value : '))

glass_height = float(input('Enter glass height value : '))
glass_radius = float(input('Enter glass radius value : '))


tank_volume = tank_height*tank_breadth*tank_length

glass_volume = 3.14*glass_radius*glass_radius*glass_height


print("number of glasses : " ,math.floor(tank_volume/glass_volume))

Enter tank height value : 10
Enter tank breadth value : 30
Enter tank length value : 50
Enter glass height value : 10
Enter glass radius value : 7
number of glasses :  9